<!DOCTYPE html>
<html>
<head>
	<title>Biodata</title>
</head>
<body>

	<script type="text/javascript">
		
		function biodata()
		{
			var name = prompt('Enter name');
			var age = prompt('Enter age');
			var bd = prompt('Enter Enter Birthdate');
			var em =prompt('Enter Email');
			var mb =prompt('Enter mobile No.');


			document.write("<h3>Name : "+name+"</h3><br>");
			document.write("<h3>Age  : "+age+"</h3><br>");
			document.write("<h3>Birthdate : "+bd+"</h3><br>");
			document.write("<h3>Email : "+em+"</h3><br>");
			document.write("<h3>Mobile No. is "+mb+"</h3><br>");
		}
	</script>

</body>
</html>